<div class="row">
    <div class="col-md-12">
        <h2>Departments</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Department Number</th>
                    <th>Department Name</th>
                </tr>
                </thead>
                {{#each departments}}
                    <tr>
                        <td><a href="/employee?department={{this.departmentId}}">{{this.departmentId}}</a></td>
                        <td><a href="/employee?department={{this.departmentId}}">{{this.departmentName}}</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{#unless employees}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>